<form action=<%= add_note_track_url %> method="post">
  <%= auth_token %>
  <br>
  <h4>add a note:</h4>
  <textarea name="note[text]" id="note_text"></textarea>
  <br>
  <input type="submit">
</form>
